/* List of imports for monospaced fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap'); /* Robot Mono */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap'); /* Source Code Pro */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap'); /* Fira Code */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap'); /* Space Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap'); /* JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap'); /* Cousine*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap'); /* Inconsolata */
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap'); /* PT Mono */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap'); /* Ubuntu Mono */

@tailwind base;
@tailwind components;
@tailwind utilities;


 
html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.highlighted {
  background-color: rgb(165, 249, 232);
}

.keyword-highlighted {
  background-color: rgb(200, 0, 0);
  color: white; /* Optional: Change text color if needed */
}

.monospaced {
  font-family: 'Space Mono', monospace;
}

.bold {
  font-weight: bold;
}


.transparent-text{
  color: transparent;
  text-shadow: 0 0 0 var(--border);
}

.fancyButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 20px;
}

.fancyButton:hover {
  background-color: #45a049;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the top */
  min-height: 100vh; /* Full height of the viewport */
  padding: 20px; /* Add some padding */
}

.textAndButtonContainer {
  width: 100%; /* Take up full width */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Space between counter and text */
}

.sidebar-button-font {
  font-size: 15px;
}

.navbar-dashboard-font {
  font-size: 15px
}




.quiz-container {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 400px; /* Adjust as needed */
  margin: 20px auto;
}

.quiz-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.quiz-question {
  font-size: 18px;
  margin-bottom: 20px;
}

.quiz-options {
  text-align: left;
  margin-bottom: 20px;
}

.quiz-option {
  margin-bottom: 10px;
}

.quiz-next-button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.quiz-next-button:hover {
  background-color: #45a049;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.quiz-label {
  margin-left: 5px;
}

/* Container for navigation buttons */
.quiz-navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

